<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MikroTik WG WebManager</title>
</head>
<style>
    .testStyle {
margin-left: auto;
margin-right: auto;
width: 6em
}
* {
    box-sizing: border-box;
}
    .navigation{
        margin: 10px 0px 0px 10px;
        border-radius: 10px;
        width: 140px;
        float: left;
        height: 140px;
        background-color: #DCDCDC;
    }
    .column {
        border-radius: 10px;
        float: left;
        width: 180px;
        padding: 10px;
        margin: 10px 10px 10px 10px;
        margin-outside: 10px;
        height: 140px;
}
</style>

{% block content %}

{% endblock %}

</html>