{% extends 'base.html' %}

{% block content %}
<div id='header' class="flex">
    <center>
    <form method="post">
        <div class='create_box'>
        {% csrf_token %}
        {{ create_client_form.Name }}
        <button class="button" type='submit'>Create</button>
        </div>
    </form>
    </center>
</div>
    <form method="post">
    {% csrf_token %}
        {% for i in objects %}
        <div id='menu'>
            <ul>
              <li><a class='nav_btn' href="#{{ i.Name }}">{{ i.Name }}</a></li>
            </ul>
        </div>
        <div id='content'>
            <div id='{{ i.Name }}' class="overlay_content">
                <div class='column1'>
                    <img src="/QR/{{ i.Name }}.png" height="500" width="500">
                    <a class="button" style="padding: 12px 130px;" href="{% url 'download' i.Name %}">Download config</a>
                    <a class="del_button" href="{% url 'delete' i.Name %}">Delete</a>
                </div>
                <div class='column2'>
                    <h2>{{i.Name}}</h2>
                    <p>[Interface]</p>
                    <p>PrivateKey={{i.PrivateKey}}</p>
                    <p>Address={{ i.Address }}</p>
                    <p>DNS=1.1.1.1</p>
                    <p>MTU=1400</p>
                    <p></p>
                    <p>[Peer]</p>
                    <p>PublicKey={{i.PublicKey}}</p>
                    <p>AllowedIPs=0.0.0.0/0</p>
                    <p>Endpoint={{i.Endpoint}}</p>
                    <p>PersistentKeepalive=30</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </form>
    <div id='menu'>
        <ul>
            {% comment %} <li><a class="service_btn" href="#showsettings">Settings</a></li> {% endcomment %}
            <li><a class="service_btn" href="{% url 'logout' %}">LogOut</a></li>
        </ul>
    </div>
    {% comment %} <div id="showsettings" class="overlay">
        <div class="popup">
            <h2>Saved settings:</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
            <ul style="font-size: 20px">
                <li>Hostname: {{ Hostname }}</li>
                <li>Username: {{ Login }}</li>
                <li>Password: {{ Password }}</li>
                <li>Endpoint: {{ Endpoint }}</li>
                <li>MTU: {{ MTU }}</li>
                <li>Network: {{ Allowed_addr }}</li>
                <li>DNS: {{ DNS }}</li>
                <li>Interface: {{ Interface }}</li>
            </ul>
            <a style="color: black; font-size: 22px" href="#settings-form">Edit</a>
            </div>
            </div>
        </div>
    </div>
    <div id="settings-form" class="overlay">
        <div class="popup">
            <h2>Edit settings:</h2>
            <a class="close" href="#showsettings">&times;</a>
            <div class="content">
            <form method="POST">
                {% csrf_token %}
                <ul style="font-size: 20px">
                    <li>Hostname: {{ settings_form.Host }}</li>
                    <li>Username: {{ settings_form.Username }}</li>
                    <li>Password: {{ settings_form.Password }}</li>
                    <li>Endpoint: {{ settings_form.Endpoint }}</li>
                    <li>MTU: {{ settings_form.MTU }}</li>
                    <li>Network: {{ settings_form.Network }}</li>
                    <li>DNS: {{ settings_form.DNS }}</li>
                    <li>Interface: {{ settings_form.Interface }}</li>
                </ul>
                <button type="submit" href="#">Save</button>
            </form>
            </div>
            </div>
        </div>
    </div> {% endcomment %}
{% endblock %}