{% extends 'base.html' %}
<style>
    a.style {
        border-right-width: 10px;
        margin-right: 10px;
        padding-right: 0px;
        margin-left: 0px;
}
</style>
{% block content %}
    <form method="post">
    {% csrf_token %}
    {% if request.user.is_authenticated %}
        <div class="flex">
            <a style="margin-left: 10px; margin-right: 10px; font-size: 22px; color: black" href="{% url 'CreateClient' %}">Create client</a>
            <a style="margin-left: 10px; margin-right: 10px; font-size: 22px; color: black" href="{% url 'settings' %}">Settings</a>
            <a style="margin-left: 10px; margin-right: 10px; font-size: 22px; color: black" href="{% url 'logout' %}">LogOut</a>
        </div>
        {% for i in form %}
            <div class="column" style="background-color:#DCDCDC;">
                <div class="flex">
                    <table>
                        <tr>
                            <td><p style="font-size: 20px">Client name: {{ i.name }}</p></td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td><p style="font-size: 20px">Client ip: {{ i.Address }}</p></td>
                        </tr>
                    </table>
                    <div>
                        <ul>
                            <li><a style="color: black; font-size: 22px" href="{% url 'delete' i.name %}">Delete</a></li>
                            <li><a style="color: black; font-size: 22px" href="{% url 'showQR' i.name %}">QR code</a></li>
                            <li><a style="color: black; font-size: 22px" href="{% url 'download' i.name %}">Config</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <a href='{% url 'login' %}'>Войти</a>
    {% endif %}
    </form>
{% endblock %}