<head>
    <title>Вход</title>
</head>
<style>
    div.field {
  padding-bottom: 5px;
}
div.field label {
  display: block;
  float: left;
  width: 70px;
  height: 15px;
}
</style>
{% block content %}
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <div class="flex" style="margin-left: 43%; width: 40%">
            {{ form.username }}
            </div>
        <div class="flex" style="margin-left: 43%; width: 40%;">
            {{ form.password }}
        </div>
        <div class="flex" style="margin-left: 43%; width: 40%">
            <button type="submit">Вход</button>
        </div>
    </form>
{% endblock %}