{% extends 'base.html' %}

{% block content %}
    <form method="post" action="{% url 'settings' %}">
    {% csrf_token %}
        {% if request.user.is_authenticated %}
            <h1>MikroTik connection data</h1>
            <div class="flex">
                {{ form.as_p }}
            </div>
            <button type="submit" style="margin-right: 10px">Save</button>
            <a href="{% url 'home' %}" style="font-size: 22px; color: black;">Back</a>
            <h1>Saved settings:</h1>
            <div class="flex">
            <ul style="font-size: 22px">
                <li>
                    Hostname: {{ Hostname }}
                </li>
                <li>
                    Login: {{ Login }}
                </li>
                <li>
                    Password: {{ Password }}
                </li>
                <li>
                    Endpoint: {{ Endpoint }}
                </li>
                <li>
                    MTU: {{ MTU }}
                </li>
                <li>
                    Allowed_addr: {{ Allowed_addr }}
                </li>
                <li>
                    DNS: {{ DNS }}
                </li>
                <li>
                    Interface: {{ Interface }}
                </li>
            </ul>
            </div>
        {% else %}
            <a href='{% url 'login' %}'>Войти</a>
        {% endif %}
    </form>
{% endblock %}